.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 490px;
  margin: 0 auto;
  &__title {
    margin-bottom: 16px;
  }

  &__subtitle, &__pretext {
    margin-bottom: 32px;
  }

  &__pretext {
    margin: 12px 0;
  }
}

@media(max-width: 768px) {
  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
      margin-bottom: 8px;
    }

    &__subtitle, &__pretext {
      margin-bottom: 24px;
    }

    &__pretext {
      margin: 12px 0;
    }
  }
}