.btn {
  width: 240px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: transparent;
  border: 1px solid #E6E6E6;
  border-radius: 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  cursor: pointer;
  padding: 16px;
  transition: all .3s;


  &:hover {
    background: #f6f6f6;
  }

  &:disabled {
    opacity: .4;
    &:hover{
      background: #4E74F5;
    }
  }

  &--filled {
    background: #4E74F5;
    color: #ffff;
    border-radius: 100px;

    &:hover {
      background: #5f7dee;
    }
  }

  &--clean {
    height: auto;
    width: fit-content;
    padding: 0px;
    border: none;
    color: #4E74F5;

    &:hover {
      background: transparent;
    }
  }

  &--outlined {
  }

  &--with-icon {
    justify-content: flex-start;
  }

  &--max-width {
    width: 100%;
  }

  &__icon {
    display: flex;
    align-items: center;
    margin-right: 16px;
  }

  &__loader{
    margin-right: 16px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: 700;
  }
}