.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13px;
  width: 100%;

  &__promo-btn {
    margin-top: 32px;

    &__link {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: #4E74F5;
    }
  }

  &__btn {
    height: 64px;
    margin-top: 45px;
  }

}

@media(max-width: 768px) {
  .registration-form {
    &__btn {
      margin-top: 32px;
    }
  }
}