@import "fonts";

body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #ffff;
  text-decoration: none;
}

.page {
  width: 690px;
  animation: 1s ease fade;
  flex: 1 1 auto;
  display: flex;
  align-items: center;

  &__title {
    font-weight: 600;
    font-size: 56px;
    line-height: 76px;
    margin-bottom: 16px;
  }

  &__subtitle, &__pretext {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #999999;
  }
}

.fade {
  animation: 1s ease fade;
}

.App {
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media(max-width: 768px) {
  .page {
    width: 100%;
    padding: 40px 16px 0;

    &__title {
      text-align: center;
      font-size: 40px;
      line-height: 54px;
      margin-bottom: 8px;
    }

    &__subtitle, &__pretext {
      font-size: 14px;
      line-height: 24px;
      color: #999999;

    }
  }
}