.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 490px;
  margin: 0 auto;

  &__title {
    margin-bottom: 16px;
  }

  &__subtitle, &__pretext {
    margin-bottom: 32px;
  }

  &__pretext {
    margin: 12px 0;
  }

  &__user-terms {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin-top: 24px;
    text-align: center;
  }

  & a {
    color: #4E74F5;
  }
}


@media(max-width: 768px) {
  .registration {
    margin-bottom: 30px;
  }

}