.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  &__login-btn {
    width: 100%;
    height: 64px;
    background: #4E74F5;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 700;
    color: #ffff;
    margin-top: 20px;

    &:hover {
      background: #6986f6;
    }
  }

  &__error-message {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FB2424;
    margin-top: 8px;
  }

  &__forget-password-btn {
    margin: 8px auto 0;

    &__link {
      font-weight: 700;
      line-height: 24px;
      color: #4E74F5;
    }
  }
}

@media (max-width: 768px) {
  .login-form {
    &__login-btn {
      height: 56px;
      margin-top: 10px;
    }
  }
}