.header {
  height: 99px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 54px;
  &__logo{
    & img{
      max-width: 100%;
    }
  }
  .auth-controls {
    display: flex;
    align-items: center;
    gap: 24px;

    &__helper-text {
      font-size: 14px;
      color: #999999;
      user-select: none;
    }

    &__btn {
      width: 170px;
      height: 51px;
    }

    &__logout-btn {
      color: #999999;
    }
  }
}

@media(max-width: 768px) {
  .header {
    padding: 0px 16px;
    height: 60px;
    &__logo{
    width: 114px;
    }
    .auth-controls {
      &__helper-text {
        display: none;
      }

      &__btn {
        width: 113px;
        height: 40px;
        font-size: 12px;
      }
    }
  }
}