.confirm-email {
  width: 100%;
  margin: 0 auto;
  &__title {
    margin-bottom: 16px;
    text-align: center;
  }

  &__sub-title {
    margin-bottom: 40px;

    & a {
      font-weight: 700;
      color: #4E74F5;
    }
  }

  &__mail-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  &__resend-mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    &__cancel-btn {
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      color: #999999;
    }
  }
}

@media(max-width: 768px) {
.confirm-email{
  display: flex;
  flex-direction: column;
  justify-content: center;
height: calc(100vh - 100px);
  &__sub-title {
    margin: 0 auto;
    margin-bottom: 40px;

    & br{
      display: none;
    }
    & a {
      font-weight: 700;
      color: #4E74F5;
    }
  }
}
}