.text-field {
  width: 100%;
  &__input {
    width: 100%;
    height: 56px;
    border: 1px solid #E6E6E6;
    border-radius: 12px;
    padding: 16px 20px;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    line-height: 19px;
    transition: all .3s;
    outline-color: #a2d7f6;

    &:hover {
      border-color: #a2d7f6;
    }

    &::placeholder {
      line-height: 24px;
      color: #E6E6E6;
    }
  }

  &__error-message {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FB2424;
    margin-top: 8px;
  }

  &--invalid {
    .text-field__input {
      border-color: #F90043;
    }
  }
}