.social-auth {
  display: flex;
  gap: 15px;
}

@media(max-width: 768px) {
  .social-auth {
    width: 100%;
    flex-direction: column;
    gap: 9px;

    &__btn {
      width: 100%;

      &__content {
       margin: 0 auto;
      }
    }
  }
}