.forget-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;

  &__img {
    margin-bottom: 48px;
  }

  &__title {
    margin-bottom: 8px;
    font-size: 32px;
  }

  &__subtitle {
    margin-bottom: 32px;
  }

  &__send-mail-btn {
    width: 100%;
    height: 64px;
    margin-top: 32px;
  }

  &__go-to-main-btn {
    height: 64px;
  }

  &__cancel-btn {
    &__link {
      font-weight: 700;
      color: #999999;
      margin-top: 24px;
    }
  }
}

@media(max-width: 768px) {

  .forget-password {
    height: calc(100vh - 100px);

    &__img {
      margin-bottom: 32px;
    }

    &__title {
      font-size: 24px;
    }

    &__subtitle {
      width: 80%;
    }


    &__send-mail-btn {
      height: 56px;
      margin-top: 24px;
    }
  }
}

@media(max-height: 500px) {

  .forget-password {

    &__img {
      margin-bottom: 32px;
      display: none;
    }
  }
}